Cartify/Cartify/.vs/
Cartify/Cartify/CartifyPLL/bin/
Cartify/Cartify/CartifyPLL/obj/
Cartify/Cartify/.idea/
Cartify/Cartify/CartifyBLL/bin/
Cartify/Cartify/CartifyBLL/obj/
Cartify/Cartify/CartifyDAL/bin/
Cartify/Cartify/CartifyDAL/obj/
*.user
*.suo
*.pdb
*.dll
*.cache
*.log
ER.md
Features.md
ER diagram v1.svg
.$ER diagram.svg.bkp
Features.md
.github/
Cartify/Cartify/CartifyPLL/Migrations/
Cartify/Cartify/CartifyDAL/Migrations/
Secret.txt
